<?xml version="1.0" encoding="utf-8" ?>
<GAEA>

	<Service name="demo" id="104" maxThreadCount="50">
		<Commmunication >
			<SocketPool bufferSize="4096" minPoolSize="3" maxPoolSize="100" nagle="true" autoShrink="00:00:20" sendTimeout="00:00:02" receiveTimeout="00:00:02" waitTimeout="00:00:01" />
			<Protocol serialize="GAEA" encoder="UTF-8" compressType="UnCompress" />
		</Commmunication>
		<Loadbalance>
			<Server deadTimeout="00:00:03">
				<add name="demo" host="127.0.0.1" port="9090" maxCurrentUser="50" />
			</Server>
		</Loadbalance>
	</Service>

</GAEA>