<?xml version="1.0" encoding="utf-8" ?>
<GAEA>
  <Service name="demo" id="3" maxThreadCount="50">
    <Commmunication >
      <!--
        bufferSize:网络传输流缓存大小
        minPoolSize:连接池中最小连接数量
        maxPoolSize:连接池中最大连接数量
        nagle:是否启用Nagle算法
        autoShrink:是否启动连接自动回收
        sendTimeout:发送超时
        receiveTimeout:接收超时
        waitTimeout:当连接池中没有连接时需要等待释放连接的时间
      -->
     <SocketPool bufferSize="4096" minPoolSize="2" maxPoolSize="5" nagle="true" autoShrink="20" sendTimeout="10" receiveTimeout="10" waitTimeout="01" maxPakageSize="102400" protected="true"/>
      <!--
        serialize:序列化方式
        encoder:序列号采用的编码
        compressType:是否压缩
      -->
      <Protocol serialize="GAEA" encoder="UTF-8" compressType="UnCompress" />
    </Commmunication>
    <Loadbalance>
      <!--
        deadTimeout:服务器挂后心跳检测间隔时间
        maxCurrentUser:最大当前用户数，超过此数服务器将置为busy状态
      -->
      <Server deadTimeout="10">
        <add name="demo" host="127.0.0.1" port="9090" maxCurrentUser="50"  />
      </Server>
    </Loadbalance>
  </Service>
</GAEA>
